@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&subset=latin-ext');

body{
  font-family: 'Raleway', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
#menu {
  background-color: black;
  nav {
    justify-content: space-between;
  }
  ul {
    list-style: none;
    li {
      padding-left: 20px;
    }
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  a:hover {
    color: gold;
  }
  img{
    height:50px;
    margin:5px 0;
  }

  .right-section{
    img{
      height:40px;
      margin:5px 25px;
    }
  }
  h4{
    color:black;
    background-color:white;
    padding:8px;
    border-radius: 3px;
    font-weight: 500;
    cursor:pointer;
  }
}
