* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.flex-column {
  flex-direction: column;
}
#menu {
  background-color: black;
  nav {
    justify-content: space-around;
  }
  ul {
    list-style: none;
    li {
      padding-left: 20px;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: gold;
  }
  img{
    height:60px;
    margin:5px 0;
  }
}
